<div class="act-time">
  <div class="activity-body act-in">
    <div class="text">
      <p class="attribution">
          <span class="item-detail">
            <%= item.name %>
          </span>

        <%= link_to list_item_path(list, item), class: 'pull-right', title: 'Destroy List Item', 'data-toggle' => 'tooltip', 'data-placement' => 'top',
                    method: :delete , remote: true, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-close red-btn"></i>
        <% end %>
        <% if trash_controller? %>
            <% if item.is_deleted %>
                <%= link_to restore_list_item_path(list, item), class: 'pull-right', title: 'Restore List Item', 'data-toggle' => 'tooltip', 'data-placement' => 'top',
                            method: :patch , remote: true do %>
                    <i class="fa fa-trash-o"></i>
                <% end %>
            <% end %>
        <% else %>
            <%= link_to edit_list_item_path(list, item), class: 'pull-right', title: 'Edit List Item', 'data-toggle' => 'tooltip', 'data-placement' => 'top', remote: true do %>
                <i class="fa fa-pencil-square"></i>
            <% end %>
            <%= link_to soft_destroy_list_item_path(list, item), class: 'pull-right', title: 'Soft Delete List Item', 'data-toggle' => 'tooltip', 'data-placement' => 'top',
                        method: :delete , remote: true, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i>
            <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>